@import url('https://emoji-css.afeld.me/emoji.css');
#companies {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #companies td, #companies th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #companies tr:nth-child(even){background-color: #f2f2f2;}
  
  #companies tr:hover {background-color: #ddd;}
  
  #companies th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0B4F78;
    color: white;
  }

  .diamond_hand,.red_arrow {
      height: 30px;
      width: 30px;
  }
  span.tip_dh {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  figure{
    margin: 0;
    padding: 0;
  }
  .dh:hover span.tip_dh {
    visibility: visible;
  }
  span.tip_ra {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  .ra:hover span.tip_ra {
    visibility: visible;
  }
  span.tip_r {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  .r:hover span.tip_r {
    visibility: visible;
  }
  span.tip_ph {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  .ph:hover span.tip_ph {
    visibility: visible;
  }